<h1><%= current_club.club_name.capitalize %></h1>
<h4>Sport: <strong><%= current_club.sport.capitalize %></strong></h4>
<h4>Director: <strong><%= current_club.director.capitalize %></strong></h4>
<h1>Teams</h1>
<% current_club.teams.each do |team| %>
  <%=link_to "#{team.name}", club_team_path(current_club, team) %>
<%end%>
<%= render 'teams/new_team' %>
<%= link_to 'Log out', logout_path %>
