
<%= form_for [current_club, @season, @team] do |f| %>
<% if @team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@team.errors.count, "error") %> prohibited
      this team from being created:
      <ul>
        <%= @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </h2>
  </div>
<% end %>
<div class="form-group field">
  <%= f.text_field :name, class: 'form-control', placeholder: 'Team Name' %>
</div>

<div class="form-group field">
  <%= f.text_field :age_group, class: 'form-control', placeholder: 'Age Group' %>
</div>

<div class="form-group field">
  <%= f.text_field :roster_size, class: 'form-control', placeholder: 'Roster Size' %>
</div>

<div class="form-group field">
  <%= f.text_field :coach, class: 'form-control', placeholder: 'Coach' %>
</div>

  <%= f.hidden_field :season_id, value: @season.id %>


<div class="action">
  <input type="submit" name="commit" value="Create Team" class="btn btn-success">
</div>
<% end %>
