<h1>New Team</h1>
<%= form_for [current_club, @team] do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :age_group %><br />
  <%= f.text_field :age_group %>
</div>
<div class="field">
  <%= f.label :roster_size %><br />
  <%= f.text_field :roster_size %>
</div>
<div class="field">
  <%= f.label :coach %><br />
  <%= f.text_field :coach %>
</div>
  <%= f.hidden_field :club_id, value: current_club.id %>
<div class="actions">
  <input type="submit" name="commit" value="Create Team">
</div>
<% end %>
