<h1><%= @team.club.club_name.capitalize %></h1><br />
<h2><%= @team.name.capitalize %></h2><br />
<h4><%= @team.season %> <%= @team.age_group %> and under.</h4><br />
<h4>Coach: <%= @team.coach %></h4><br />
<h4>Roster Size: <%= @team.roster_size %></h4><br />





<div class = "container">
  <div class='available-athletes col-md-4 col-md-offset-1'>
    <h2>Available Athletes</h2>
    <% Athlete.all.each do |athlete| %>
      <div class='available-athlete'><%= athlete.name.capitalize %> <%= render 'spots/new_spot', athlete: athlete %></div><br />
    <% end %>
  </div>

  <div class= 'invite-list col-md-4 col-md-offset-2'>
    <h2>Sent Inivitations</h2>
    <% Spot.all.each do |x| %>
      <% if (x.team.id == @team.id)%>
        <div class='invited-athlete-and-status'><%= (Athlete.find_by(id: x.athlete_id)).name.capitalize %> : <%= x.invite_status.capitalize %></div>
      <% end %>
    <% end %>
  </div><br />
</div><br />

<%= link_to 'Club Dashboard', club_path(@club) %>
