<h1><%= @team.club.club_name %></h1><br />
<h2><%= @team.name %></h2><br />
<h4><%= @team.season %> <%= @team.age_group %> and under.</h4><br />
<h4>Coach: <%= @team.coach %></h4><br />
<%= @team.roster_size %><br />



<%= render 'spots/new_spot' %>

<% Spot.all.each do |x| %>
  <%= (Athlete.find_by(id: x.athlete_id)).name %> <br />
<% end %>

<%= link_to 'Club Dashboard', club_path(@club) %>
