<%= form_for([current_club, @season]) do |f| %>
<% if @season.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@season.errors.count, "error") %> prohibited
      this season from being created:
      <ul>
        <%= @season.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </h2>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :year %><br>
  <%= f.number_field :year, class: "form-control" %>
</div>
<%= f.hidden_field :club_id, value: current_club.id %>

<div class="action">
  <input type="submit" name="commit" value="New Season" class="btn btn-success">
</div>

<% end %>
