<div class="club_form_h1">
	<h4>Club</h4>
</div>
			<%= form_tag sessions_login_club_path do %>

			  <div class="form-group">
			    <%= email_field_tag :email, nil, placeholder: "email@example.com" %>
			  </div>
				<div class="form-group">
			    <%= password_field_tag :password, nil, placeholder: "password" %>
			  </div>
				<div class="action home-login">
				  <%= submit_tag "Log In" %>
          <%= link_to new_club_path do %>
            <input type="submit" name="commit" value="Sign Up" class="btn btn-success btn-sm">
           <% end %><br />
				</div>
			<% end %>
