<div class="container-fluid new_athlete">
<div class="col-md-6 col-md-offset-3 athlete_form">
  <div class="club_form_h1">
    <h1>Athlete Login</h1>
  </div>

<%= form_for :athlete_session, url: athlete_login_path do | f | %>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="form-group">
  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <%= f.label :remember_me %>
  <%= f.check_box :remember_me %>
<br>
  <p>
    <%= f.submit 'Log in' %>
  <% end %>
  </p>


  <h3>New User? <%= link_to 'Sign Up Now', new_athlete_path %></h3>
</div>
</div>
