<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><%= current_athlete.name.capitalize %></a>
    </div>
    <div style="color: white;
    padding: 15px 50px 5px 50px;
    float: right; font-size: 16px;"> Member Since : <%= current_athlete.created_at.strftime("%m-%d-%Y") %> &nbsp; <%= link_to 'Log out', logout_path(@club), :class => "btn btn-danger square-btn-adjust"%>
  </div>
</nav>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <%= image_tag current_athlete.avatar %>
      </li>
      <li>
        <!-- #replace with Link_to -->
        <%= link_to '<i class="fa fa-tachometer"> &nbsp; Manage Profile</i>'.html_safe, athlete_path(current_athlete)%>
      </li>
      <li>
        <!-- #replace with Link_to -->
        <%= link_to '<i class="fa fa-tachometer"> &nbsp; Update Profile</i>'.html_safe, edit_athlete_path(current_athlete)%>
      </li>
      <li>
        <!-- #replace with Link_to -->
        <a><i class="fa fa-trash-o"></i>Delete Profile</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2> <%= current_athlete.name.capitalize %> </h2>
        <h5>Welcome back <%= current_athlete.name.capitalize %>. Check below for any pending invitations or tryouts available. </h5>
      </div>
    </div>
    <hr />
    <!-- /. ROW  -->
    <div class="row">


      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Your Invitations To Join Teams
          </div>

          <div class="panel-body">
            <table class="table table-hover table-striped">
              <tr>
                <th><strong>Club</strong></th>
                <th><strong>Team</strong></th>
                <th><strong>Status</strong></th>
                <th><strong>Accept/Decline</strong></th>
              </tr>

              <% if current_athlete.spot %>
                <tr>
                  <td><%= current_athlete.spot.team.season.club.club_name %></td>
                  <td><%= current_athlete.spot.team.name %></td>
                  <td><%= current_athlete.spot.invite_status %>
                   <td><%= link_to accept_invite_path do %>
                      <span class="btn btn-success">Accept</span>
                    <% end %>
                    <%= link_to decline_invite_path do %>
                      <span class="btn btn-danger">Decline</span>
                    <% end %>
                  </td>
                    <%# link_to decline_invite_path do %>
                      <!-- <td>Decline</td> -->
                    <%# end %>
                <% else %>
                  <td> N/A </td>
                  <td> N/A </td>
                  <td> N/A <td>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Available Tryouts
          </div>

          <div class="panel-body">
            <table class="table table-hover table-striped">
              <tr>
                <th><strong>Club</strong></th>
                <th><strong>Location</strong></th>
                <th><strong>Date</strong></th>
                <th><strong>Time</strong></th>
                <th><strong>Register</strong></th>
              </tr>

              <% @clubs.each do |club| %>
                <% if (club.seasons)%>
                  <% club.seasons.each do |season| %>
                    <% if (season.tryouts)%>
                      <% season.tryouts.each do |tryout| %>
              <tr>

                <td><%= season.club.club_name.capitalize %></td>
                <td><%= tryout.location.capitalize %></td>
                <td><%= tryout.date.strftime("%m/%d/%Y") %></td>
                <td><%= tryout.time %></td>
                <td class="btn btn-primary"><%= link_to 'Register', club_season_tryout_register_path(season.club.id, season.id, tryout.id)%></td>
              </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Registered Tryouts
            </div>

            <div class="panel-body">
              <table class="table table-hover table-striped">
                <tr>
                  <th><strong>Name</strong></th>
                  <th><strong>Location</strong></th>
                  <th><strong>Date</strong></th>
                  <th><strong>Time</strong></th>
                </tr>
                <% current_athlete.tryouts.each do |tryout| %>
                <tr>
                  <td><%=tryout.season.club.club_name.capitalize%></td>
                  <td><%=tryout.location.capitalize%></td>
                  <td><%=tryout.date.strftime("%m/%d/%Y")%></td>
                  <td><%=tryout.time %></td>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
