<h1>Player Profile</h1>

<%= image_tag @athlete.avatar.url %><br>
<strong>Username:</strong> <%= @athlete.user_name %><br>
<strong>Name:</strong> <%= @athlete.name %><br>
<strong>Email:</strong> <%= @athlete.email %><br>
<strong>Date of Birth: </strong> <%= @athlete.dob.strftime("%m/%d/%Y") %><br>
<strong>Age: </strong><%= age(@athlete.dob) %>

<h1> Invites +</h1>
<p>You have a <%= @athlete.spot.invite_status %> invitation to join <%= @athlete.spot.team.name %></p><br>





<% if current_athlete %>
<%= link_to 'Update Profile', edit_athlete_path %> |
<%= link_to 'Log out', athlete_logout_path %> |
<%= link_to 'Delete Profile', @athlete, method: :delete,
                                data: { confirm: "Are you sure?" } %>
<% end %>
