<!DOCTYPE html>
<html>
<head>
  <title>TeamMake</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- google font -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

  <!-- FONTAWESOME STYLES-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- CUSTOM STYLES-->
  <link href="css/custom.css" rel="stylesheet" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if (current_club.nil? && current_athlete.nil?) %>

    <header>
    <div class="row">
      <div class="col-md-5"><h1>Teammake</h1></div>
      <div class="col-md-1 col-md-offset-5 dropdown">
      <a class="drop-down-menu" href="#">
        <i class="fa fa-bars fa-4x"></i>
      </a>


        <ul class="drop-nav">
          <%= link_to root_path do %>
            <li>Home</li>
          <% end %>
          <%= link_to login_path do %>
            <li>Club Login</li>
          <% end %>
          <%= link_to athlete_login_path do %>
            <li>Athlete Login</li>
          <% end %>

          <li>Log Out</li>
        </ul>
      </div>
    </div>
  </header>

  <% end %>


<body>

  <%= yield %>

</body>
</html>
